
html{
    font-family: 'Crimson Text', serif;
}

.content{
    /* max-width: 1100px;
    max-height: 600px;
    width: 100%;
    height: 100%; */
    background-color: white;
    height: 85vh;
    width: 85vw;
    box-shadow: 0 3px 6px rgba(0.0,0,0.16), 0 3px 6px rgba(0,0,0,0.32);
    position: relative;
    overflow: scroll;
    padding: 0.5em;
    border-radius: 20px;
}

.container{
    background-color: #00a0d2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table{
    width: 100%;
    border-spacing: 0;

}
.table {
    width: 100%;
    border-spacing: 0;
}
.table th,
.table td {
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color:#00FF7F;
}
td:nth-of-type(1) {
    font-size: 2.0em;
    color:crimson;
}
th {
    display: none;
}
td {
    display:block;

}
/* .numero-elemento {
    position: relative;
    font-size: 1em;
    color: black;
    width: auto;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 5px 0 rgba(169,169,169,.7);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.far {
    position: relative;
    width: 27px;
    height: 27px;
    color: black;
    background-color: #FFF;
    border: 3px solid #999;
    border-radius: 50%;
    padding: 3px 0 0 7px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1em;
}

/* .line{
    display: inline-block;
} */
.center{
    text-align: center;
}

.under{
    padding-bottom: 15px;
    border-bottom: solid 5px;
}


.position{
    background-color: #b1c3f9;
    padding: 10px;
    border-radius: 4px;
    margin-left: 5px;
}

/*.action{
    position: absolute;
    top: 1em;
    right: 1em;
} */

.action{
    position: sticky;
    top: 1em;
    left: 1em;
    display: flex;
    justify-content: flex-end;
}

.close{
    height: 40px;
    width: 40px;
    color: white;
    background-color:#b1c3f9;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.28);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.title{
    text-transform: uppercase;
    text-align: center;
}
.item-title{
    text-transform: uppercase;
    font-size: 0.4em;
}
i:hover{
    background-color: #5a5a5a;
}
a:visited{
    color: red;
}
.parrafo{
    text-align: left;
}
.text{
    margin-top: 1em;
}
.contect-galery{
    text-align: center;
    margin-top: 1em;
}

.item-imagen {
    display: none;
}
iframe {
    width: 85vw;
}

.numero-elemento {
    position: relative;
    font-size: 1em;
    color: #fff;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    box-shadow: 0 5px 0 rgba(169,169,169,.7);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numero-elemento:hover{
    background-color: yellow;
    color: black;
}
.item-content{
    height: 60vh;
}

/*** Media query ****/


/**                              **/
@media ( min-width: 500px) and (max-width: 800px) {
    th{
        display:table-cell;
    }
    td{
        display:table-cell;
    }
    td:nth-of-type(5){
        display: none;
    }
    th:nth-of-type(5){
        display: none;
    }
    td:nth-of-type(6){
        display: none;
    }
    th:nth-of-type(6){
        display: none;
    }


}



@media ( min-width: 801px) and (max-width: 974px) {
    th{
        display:table-cell;
    }
    td{
        display:table-cell;
    }
    td:nth-of-type(6){
        display: none;
    }
    th:nth-of-type(6){
        display: none;
    }

    .content{
        width: 70vw;
        height: 70vh;
        padding: 1.8em;
    }

    img{
        width: 65vw;
        height: 40vh;
    }
    iframe{
        width: 65vw;
        height: 40vh;
    }
    .line{
        display: block;
    }
    .actions {
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .title-item {
        font-size: 1.5em;
        text-transform: uppercase;
    }

}

@media ( min-width: 975px)  {
    th{
        display:table-cell;
    }
    td{
        display:table-cell;
    }
    .content{
        width: 70vw;
        height: 70vh;
        padding: 1.8em;
    }

    img{
        width: 25vw;
        height: 25vh;
    }
    iframe{
        width: 25vw;
        height: 25vh;
    }

    .item-image{
        display: inline-block;
    }

    .line{
        display: inline-block;
    }
    .actions {
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .title-item {
        font-size: 1.5em;
        text-transform: uppercase;
    }

}